.App {
  text-align: left;
  background-color: #afd4c0;
  height: 100%;
  width: 100vw;
}

.App2 {
  background-color: #afd4c0;
  height: 100vh;
}

.houseImg {
  float: left;
  height: 12rem;
  width: auto;
  margin-right: 3%;
}

.container1 {
  float: inline-end;
  font-size: 1rem;
  
}

.container2 {
  float: inline-end;
}

h3 {
  font-size: .7rem;
}

.houseListing {
  margin: auto;
  padding: 2%;
  background-color: #dedede;
  height: 200px;
  width: 45vw;;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.header {
  height: 50px;
  width: 100vw;
  background-color: #519872;
  color: white;
  font-size: 2rem;
  padding-left:3%;

}

.dashContainer {
  height: 100%;
  width: 60vw;
  background-color: #e5f4ec;
  margin: auto;
  padding-left: 2%;

}

.dashContainer2 {
  height: 80vh;
  width: 60vw;
  background-color: #e5f4ec;
  margin: auto;
  padding-left: 2%;

}

.add {
  background-color: #8aea92;
  float: right;
  width: 8.5rem;
  height: 2.5rem;
  margin-right: 3%;
  margin-top: 2%;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.inputContainer {
  padding: 20%;
  text-align: center; 
}

.next {
  position: absolute;
  bottom: 120px;
  right: 350px;
  background-color: #3b5249;
  border: none;
  color: white;
  height: 2rem;
  width: 3rem;
  cursor: pointer;



}

.cancel {
  position: absolute;
  top: 120px;
  right: 350px;
  background-color: #fec2c2;
  border: none;
  height: 2rem;
  cursor: pointer;

  
}

.previous {
  background-color: #3b5249;
  border: none;
  color: white;
  height: 2rem;
  width: 4rem;
  position: absolute;
  bottom: 120px;
  left: 350px;
  cursor: pointer;

  
}

.complete {
  float: right;
  margin-right: 5%;
  background-color: #8aea92;
  border: none;
  height: 2rem;
  width: 4.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 120px;
  right: 275px;

}

h1 {
  padding-top: 2%;
}

.delete {
  background-color: #dedede;
  border: none;
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
}

.form {
  font-size: 1.5rem;
  position: absolute;
  top: 25vh;
  right: 37vw;;
}

input {
  height: 20px;
  width: 400px;
}

